  .navbar-brand {
    width: 296px;
    height: 80px;
    margin-left: 10px !important;
    margin-top: 6px;
    background-position: left 2px;
    background-size: 296px 74px;
	background-image: url($logo-image);
	 background-repeat: no-repeat;
  }
  .navbar-collapse {
	padding-top: 20px;
  	padding-bottom: 10px;
    @media (min-width: $screen-md-min) {
      padding-top: 0;
  	  padding-bottom: 0;
    }
  }
.nav.nav-main {
  font-size: 1.1em;
  text-transform: uppercase;
    li {
      padding: 35px 10px 0; 
      a {
        padding: 0; 
        &:hover {
          border-bottom: solid 2px $agkno-green;
        }
      }
    }
    @media (max-width: $screen-xs-max) {
      margin-left: 40px;
			margin-top: 0;
       li {
	      padding: 15px 10px 0;
				width: 100px;
	     }
    }
}

.nav.navbar-right {
	margin-right: 0 !important;
}
.navbar-toggle {
    border-color: $navbar-default-toggle-border-color !important;
    &:hover,
    &:focus {
      background-color: $navbar-default-toggle-hover-bg !important;
    }
    .icon-bar {
      background-color: $navbar-default-toggle-icon-bar-bg !important;
    }
}

ul.user-utils {
  margin-left:10px;
  margin-top: -8px;
  margin-bottom: 10px;
  @media (min-width: $screen-md-min) {
	  margin-right: 10px;
  }
  @media (max-width: $screen-xs-max) {
    margin-left: 40px;
	margin-top:	15px;
  }
}

.agkno_login_button {
	margin: 0;
}

div.navbar-header {
  margin-left: 0;
  @media (min-width: $screen-md-min) {
    margin-left: -20px;
  }
}

div#user-util-collapse {
	padding: 50px 0 0 0 !important;
	
	@media (max-width: $screen-sm-max) {
      padding: 0 !important;
	  margin-right: 0;
    }
}

div.public-menu {
@media (max-width: $screen-sm-max) {
  margin-top: 40px;
}
}
.active-menu {
	border-bottom: solid 2px $agkno-green;
}
li.dropdown {
	text-transform: none;
}
li.user-controls {
	padding: 1px 12px !important;
	margin-top: 5px;
}
ul.dropdown-menu li:hover {
	background-color: #f5f5f5;
}
ul.dropdown-menu li a:hover {
	border-bottom: none !important;
}