<div class="user-management masthead-padding">
	<ul class="breadcrumb"><li><a href="/?locale=en">Home</a></li><li><a href="/dashboard?locale=en">Dashboard</a></li></ul>
	<h1 class="groups-heading">Edit User</h1>

	<%= render partial: 'form', locals: {form_url: "/user_mgmt/update"} %>

	<%= link_to 'Back', '/users', class: 'groups-form-back' %>

	<div class="groups-form-footer"></div>
</div>

