<footer class="navbar site-footer">
  <div class="container-fluid">
    <div class="navbar-left">
    <div class="footer-text text-left">
			<p></p>
      <p>
				<%= t('hyrax.footer.teeal_html') %><br/><%= t('hyrax.footer.mann_library_html') %>
			</p>
    </div>
</div>
    <div class="navbar-right">
      <div class="footer-text float-right"><p></p>
      </div>
    </div>
  </div>
</footer>
