<p>Hello, <%= @resource.email %>.</p>

<p>Someone has requested a change to your AGRA Knowledge Management System password. You can do this through the link below.</p>

<p><%= link_to 'Change my AGRA KMS password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request the password change, please ignore this email.</p>

<p>Your password won't change until you access the link above and create a new one.</p>