<% unless params[:controller].include?("users") || params[:controller].include?("roles")%>
<div class="container-fluid serachform-container">
  <div class="container">
    <div class="row">
      <div class="searchbar-left col-sm-7 col-md-6">
        <%= render partial: 'catalog/search_form' %>
      </div>
    </div>
  </div>
</div>
<% end %>
<% if params[:controller].include?("roles")%>
	<div class="masthead-padding" style="margin-left:30px">
		<% if params[:action].include?("new")%>
			<h2>New Role</h2>
		<% end %>
	</div>
<% end %>